<footer class="footer">
  <div class="container footer-main-container" id="footer">
    <div class="footer-logo-nav-wrap">
      <div class="footer-logo-container">
        <img
          srcset="
            ./img/footer-maksym/girl-f@1x.webp 1x,
            ./img/footer-maksym/girl-f@2x.webp 2x
          "
          src="/src/img/footer-maksym/girl-f@1x.webp"
          alt="girl with bananas"
        />

        <a
          href="https://gwake3007.github.io/grocery-store-online/"
          class="footer-logo-link"
        >
          <svg class="footer-logo-icon" width="16" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
          <h2 class="footer-text title-footer">FRESH HARVEST BOX</h2>
        </a>
      </div>
      <nav class="footer-nav-section">
        <!-- тут я поставил якоря они будут вести туда где будут секции соответствующие -> name="How-it-works" name="Fruits" name="Contacts" -->
        <ul class="footer-nav-list footer-text">
          <li>
            <a class="navigation-item" href="#how-it-works">How it works</a>
          </li>
          <li>
            <a class="navigation-item" href="#fruits">Fruits</a>
          </li>
          <li>
            <a class="navigation-item" href="#footer">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-social-address-wrap">
      <div class="footer-socials-container">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a class="footer-social-icons" href="Facebook.com" target="_blank">
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-Facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-icons" href="instagram.com" target="_blank">
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-icons" href="Youtube.com" target="_blank">
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-Youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <address class="footer-address-section">
        <ul class="footer-address-list">
          <li class="footer-number">
            <a class="footer-address-text footer-hover" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-geo">
            <a
              name="How-it-works"
              class="footer-address-text footer-hover"
              href="https://www.google.com/maps/search/?api=1&query=1678-S.-Pioneer-Road-Salt-Lake-City-UT-84104"
              target="_blank"
              >1678 S. Pioneer Road Salt Lake City
              <br class="address-hidden" />UT 84104<br
            /></a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
