<section class="contacts-section">
    <div class="container">
        <h2 class="contacts-title title">Fresh Harvest Box has got you covered</h2>
        <ul class="contacts-section-list">
            <li class="contacts-section-item"><img
                    srcset="./img/contacts/img-1_335.png 335w, ./img/contacts/img-1_344.png 344w, ./img/contacts/img-1_670.png 670w, ./img/contacts/img-1_688.png 688w, ./img/contacts/img-1_792.png 792w, ./img/contacts/img-1_1584.png 1584w"
                    sizes="(min-width: 1280px) 792px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
                    src="../img/contacts/img-1_792.png" width="792" height="502" alt="Cut melon on a green background"
                    loading="lazy">
            </li>
            <li class="contacts-section-item covert"><img
                    srcset="./img/contacts/img-2_344.png 344w, ./img/contacts/img-2_400.png 400w, ./img/contacts/img-2_688.png 688w, ./img/contacts/img-2_800.png 800w"
                    sizes="(min-width: 1280px) 400px, (min-width: 768px) 344px, 100vw"
                    src="../img/contacts/img-2_400.png" width="400" height="502" alt="Blueberry berries" loading="lazy">
            </li>
        </ul>
        <p class="contacts-section-text">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect
            for anyone looking to eat
            healthier or
            support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
        <form name="feedback_form">
            <div class="feedback-form-wrapper">
                <label for="user_email"><input class="contacts-form-input" type="email" name="email" id="user_email"
                        placeholder="Enter email..."></label>
                <button class="feedback-send-btn" type="submit">Send</button>
            </div>

        </form>
    </div>
</section>