<header class="header">
  <nav class="nav">
    <ul class="list nav-list">
      <li class="link nav-link">
        <a href="../partials/to-ordeder-section-oleksandra.html"
          >How It Works</a
        >
      </li>
      <li class="link nav-link">
        <a href="../partials/organic-fruits-section-ulia.html">Fruits</a>
      </li>
      <li class="link nav-link">
        <a href="../partials/footer-maksym.html"></a>Contacts
      </li>
    </ul>
    <a class="link logo-link" href="../index.html">
      <svg class="logo-icon" width="16" height="16">
        <use href="../img/icons.svg#icon-logo"></use>
      </svg>
      <span class="logo-text">fresh harvest box</span>
    </a>
  </nav>
  <button class="basket-button" type="button">
    <svg class="basket-icon" width="24" height="24">
      <use href="../img/icons.svg#icon-basket"></use>
    </svg>
  </button>
</header>
