<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <ul class="list nav-list">
        <li class="link">
          <a class="nav-link" href="#how-it-works">How It Works</a>
        </li>
        <li class="link">
          <a class="nav-link" href="#fruits">Fruits</a>
        </li>
        <li class="link"><a class="nav-link" href="#footer"></a>Contacts</li>
      </ul>
      <button
        class="menu-toggle js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="menu-toggle-icon" width="20" height="14">
          <use href="../img/icons.svg#icon-mobile-menu"></use>
        </svg>
      </button>
    </nav>
    <a class="link logo-link" href="../index.html">
      <svg class="logo-icon" width="16" height="16">
        <use href="../img/icons.svg#icon-logo"></use>
      </svg>
      <p class="logo-text">fresh harvest box</p>
    </a>

    <button class="basket-button" type="button">
      <svg class="basket-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-basket"></use>
      </svg>
    </button>
  </div>
</header>
