<header class="header container">
  <div class=" header-container">
    <nav class="nav">
      <ul class="list nav-list">
        <li class="link">
          <a class="nav-link menu-box-link" href="#how-it-works">How It Works</a>
        </li>
        <li class="link">
          <a class="nav-link menu-box-link" href="#fruits">Fruits</a>
        </li>
        <li class="link"><a class="nav-link menu-box-link" href="#footer">Contacts</a></li>
      </ul>
      <button
        class="menu-toggle js-open-menu"
        type="button"
        aria-expanded="true"
        aria-controls="mobile-menu"
      >
        <svg class="menu-toggle-icon" width="20" height="14">
          <use href="./img/icons.svg#icon-mobile-menu"></use>
        </svg>
      </button>
    </nav>
    <a class="link header-logo-link" href="https://gwake3007.github.io/grocery-store-online/">
      <svg class="logo-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
      <h2 class="logo-text">fresh harvest box</h2>
    </a>
    <button class="basket-button" type="button">
      <svg class="basket-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-basket"></use>
      </svg>
    </button>
  </div>
</header>
