<section class="hero-section background">
        <div class="container hero-container">
        
                <div class="banana"></div>
                <div class="strawberry"></div>
                <h1 class="hero-title">fresh harvest box <br>
                    is your 0ne-stop place for a delicious fruit basket</h1>
        
                            <div class="hero-main">
                                <div class="hero-main-image"></div>
                                <a class="hero-btn" href="#fruits"><span class="hero-btn-wrapper">shop<br>now</span></a>
                            </div>
                            <div class="negative"></div>
                    <p class="hero-text">Our expertly curated fruit baskets are made with the freshest, highest quality fruits available. Whether you are looking for a healthy snack or a gift for a loved one, Fresh Harvest Box has got you covered.</p>
        
                    <div class="card-wrapper card-wrapper-watermelon">
                        <div class="oval"></div>
                        <h2 class="hero-card-title title-watermelon">Fruit</h2>
                        <img class="card-img watermelon-img" srcset="./img/hero/watermelon@1x.png 1x, ./img/hero/watermelon@2x.png 2x" src="./img/hero/watermelon@1x.png" alt="watermelons">
                        <p class="hero-card-text watermelon-text">Refreshing and juicy, watermelon is the perfect summer treat and a great source of hydration</p>
                    </div>
        
                    <ul class="hero-list">
                        <li class="hero-item"><a href="" class="hero-list-link"><h3 class="hero-list-title">#organic</h3></a></li>
                        <li class="hero-item"><a href="" class="hero-list-link"><h3 class="hero-list-title">#products</h3></a></li>
                        <li class="hero-item"><a href="" class="hero-list-link"><h3 class="hero-list-title">#basket</h3></a></li>
                        <li class="hero-item"><a href="" class="hero-list-link"><h3 class="hero-list-title">#fruits</h3></a></li>
                    </ul>
        
                    <div class="card-wrapper card-wrapper-strawberry">
                        <div class="oval"></div>
                        <h2 class="hero-card-title title-strawberry">Fruit</h2>
                        <img class="card-img strawberry-img" srcset="./img/hero/strawberry_backet@1x.png 1x, ./img/hero/strawberry_backet@2x.png 2x" src="./img/hero/strawberry_backet@1x.png" alt="strawberry_backet">
                        <p class="hero-card-text strawberry-text">Sweet and juicy, strawberries are packed with vitamin C and antioxidants, making them a delicious and healthy snack</p>
                    </div>
        
            </div>

</section>

