<div class="backdrop is-hidden">
    <div class="modal">
        <div class="modal-header">
         <h2 class="modal-uppertitle">Your Order</h2>   
         <button class="modal-button" type="button">
            <svg class="modal-icon" width="12" height="12">
                <use href="../img/icons.svg#icon-x"></use>
            </svg>
        </button>
        </div>

        <form class="modal-form">
            <ul class="modal-list">
                <li class="modal-products modal-strawberry">
            <label class="modal-products-label">
                <h3 class="modal-products-uppertitle">Strawberry Basket</h3>
                <p class="modal-products-undertitle">Plant</p>
                <img 
                srcset="../img/modal-your-order-viktoriia/strawberry@1x.png 1x, ../img/modal-your-order-viktoriia/strawberry@2x.png 2x"
                src="../img/modal-your-order-viktoriia/strawberry@1x.png" 
                alt="Strawberry Basket"
                width="88"
                height="95">
                <input type="checkbox" id="user-privacy-policy" class="modal-form-checkbox visually-hiden" name="user_privacy"
                    value="privacy_policy">
            </label>   
                </li>
                <li class="modal-products modal-apple">
            <label class="modal-products-label">
                <h3 class="modal-products-uppertitle">Apple Basket</h3>
                <p class="modal-products-undertitle">Plant</p>
                <img srcset="../img/modal-your-order-viktoriia/box@1x.png 1x, ../img/modal-your-order-viktoriia/box@2x.png 2x"
                    src="../img/modal-your-order-viktoriia/box@1x.png" alt="Apple Basket" width="88" height="95">
                <input type="checkbox" id="user-privacy-policy" class="modal-form-checkbox visually-hiden" name="user_privacy"
                    value="privacy_policy">
            </label>
                </li>
                <li class="modal-products modal-fruits">
            <label class="modal-products-label">
                <h3 class="modal-products-uppertitle">Fruits Basket</h3>
                <p class="modal-products-undertitle">Plant</p>
                <img srcset="../img/modal-your-order-viktoriia/fruits@1x.png 1x, ../img/modal-your-order-viktoriia/fruits@2x.png 2x"
                    src="../img/modal-your-order-viktoriia/fruits@1x.png" alt="Fruits Basket" width="88" height="95">
                <input type="checkbox" id="user-privacy-policy" class="modal-form-checkbox visually-hiden" name="user_privacy"
                    value="privacy_policy">
            </label>  
                </li>
            </ul>
            
            <label class="modal-form-names">
                <input type="text" class="modal-form-input" placeholder="Enter full name..." name="user-name">
            </label>
            <label class="modal-form-names">
                <input type="tel" class="modal-form-input" placeholder="Enter email..." name="user-tel">
            </label>
            <label class="modal-form-names">
                <input type="email" class="modal-form-input" placeholder="Enter card.." name="user_e-mail">
            </label>
            <label>
                <textarea name="user_message" class="modal-form-message" placeholder="Enter comments..."></textarea>
            </label>
            <button type="submit" class="modal-form-btn">Submit</button>
        </form>
    </div>
</div>