<!-- message of thanks  -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal-thank">
        <button class="thank-close" type="button" data-modal-close>
            <svg class="thank-close-icon" width="24" height="24">
            <use href="../icon/icons.svg#icon-x"></use>
            </svg>
        </button>
        <img src="./icon/raspberry.png" alt="raspberry">
        <h3 class="thank-title">THANK YOU</h3>
        <p class="thank-text">Thank you for your order! Our team is preparing your box with fresh, delicious fruits and vegetables, and we'll deliver it straight to your doorstep. We appreciate your business and look forward to providing you with the best possible experience!</p>
    </div>
</div>
