<!-- message of thanks  -->
<div class="backdrop" data-modal="modal-2">
    <div class="modal-thank">
        <button class="thank-close" type="button" data-modal-close>
            <svg class="thank-close-icon" width="24" height="24">
                <use href="../img/icons.svg#icon-x2"></use>
            </svg>
        </button>
        <img class="thank-img"
        srcset="../img/modal-thank/raspberry1@2x.png 2x"
        src="../img/modal-thank/raspberry1.png" 
        alt="raspberry"
        width="207"
        loading="lazy">
        <h3 class="thank-title">THANK YOU</h3>
        <p class="thank-text">Thank you for your order! Our team is preparing your box with fresh, delicious fruits and vegetables, and we'll deliver it straight to your doorstep. We appreciate your business and look forward to providing you with the best possible experience!</p>
    </div>
</div>
