<section>
  <h1>ORGANIC FRUITS</h1>
  <p>
    Our organic fruits are hand-picked from local farms and delivered straight
    to your doorstep, ensuring that you get the freshest and most nutritious
    produce possible. We offer a wide selection of organic fruits grown without
    the use of harmful pesticides or chemicals.
  </p>
  <ul>
    <li>
      <p>Strawberry</p>
      <p>Plant</p>
      <img
        srcset="
          ../img/organic-fruits-section-ulia/Strawberry@1x.jpg 1x,
          ../img/organic-fruits-section-ulia/Strawberry@2x.jpg 2x
        "
        src="../img/organic-fruits-section-ulia/Strawberry@1x.jpg"
        alt="Strawberry"
        width="295"
        loading="lazy"
      />
      <a href="">100 UAH / kg</a>
    </li>
    <li>
      <p>Banana</p>
      <p>Plant</p>
      <img
        srcset="
          ../img/organic-fruits-section-ulia/Banana@1x.jpg 1x,
          ../img/organic-fruits-section-ulia/Banana@2x.jpg 2x
        "
        src="../img/organic-fruits-section-ulia/Banana@1x.jpg"
        alt="Banana"
        width="295"
        loading="lazy"
      />
      <a href="">80 UAH / kg</a>
    </li>
    <li>
      <p>Watermelon</p>
      <p>Plant</p>
      <img
        srcset="
          ../img/organic-fruits-section-ulia/Watermelon@1x.jpg 1x,
          ../img/organic-fruits-section-ulia/Watermelon@2x.jpg 2x
        "
        src="../img/organic-fruits-section-ulia/Watermelon@1x.jpg"
        alt="Watermelon"
        width="295"
        loading="lazy"
      />
      <a href="">40 UAH / kg</a>
    </li>
    <li>
      <p>Lime</p>
      <p>Plant</p>
      <img
        srcset="
          ../img/organic-fruits-section-ulia/Lime@1x.jpg  1x,
          ../img/organic-fruits-section-ulia/Limen@2x.jpg 2x
        "
        src="../img/organic-fruits-section-ulia/Lime@1x.jpg"
        alt="Lime"
        width="295"
        loading="lazy"
      />
      <a href="">60 UAH / kg</a>
    </li>
    <li>
      <p>Apple</p>
      <p>Plant</p>
      <img
        srcset="
          ../img/organic-fruits-section-ulia/Apple@1x.jpg 1x,
          ../img/organic-fruits-section-ulia/Apple@2x.jpg 2x
        "
        src="../img/organic-fruits-section-ulia/Apple@1x.jpg"
        alt="Apple"
        width="295"
        loading="lazy"
      />
      <a href="">50 UAH / kg</a>
    </li>
    <li>
      <p>Peach</p>
      <p>Plant</p>
      <img
        srcset="
          ../img/organic-fruits-section-ulia/Peach@1x.jpg 1x,
          ../img/organic-fruits-section-ulia/Peach@2x.jpg 2x
        "
        src="../img/organic-fruits-section-ulia/Peach@1x.jpg"
        alt="Peach"
        width="295"
        loading="lazy"
      />
      <a href="">50 UAH / kg</a>
    </li>
    <li>
      <p>Plums</p>
      <p>Plant</p>
      <img
        srcset="
          ../img/organic-fruits-section-ulia/Plums@1x.jpg 1x,
          ../img/organic-fruits-section-ulia/Plums@2x.jpg 2x
        "
        src="../img/organic-fruits-section-ulia/Plums@1x.jpg"
        alt="Plums"
        width="295"
        loading="lazy"
      />
      <a href="">40 UAH / kg</a>
    </li>
    <li>
      <p>Orange</p>
      <p>Plant</p>
      <img
        srcset="
          ../img/organic-fruits-section-ulia/Orange@1x.jpg 1x,
          ../img/organic-fruits-section-ulia/Orange@2x.jpg 2x
        "
        src="../img/organic-fruits-section-ulia/Orange@1x.jpg"
        alt="Orange"
        width="295"
        loading="lazy"
      />
      <a href="">40 UAH / kg</a>
    </li>
    <li>
      <p>Kiwi</p>
      <p>Plant</p>
      <img
        srcset="
          ../img/organic-fruits-section-ulia/Kiwi@1x.jpg 1x,
          ../img/organic-fruits-section-ulia/Kiwi@2x.jpg 2x
        "
        src="../img/organic-fruits-section-ulia/Kiwi@1x.jpg"
        alt="Kiwi"
        width="295"
        loading="lazy"
      />
      <a href="">90 UAH / kg</a>
    </li>
  </ul>
  <div>
    <button>ORDER</button>
    <svg width="14" height="14">
      <use href="../img/icons.svg#icon-Vector"></use>
    </svg>
  </div>
</section>
