<section class="section-container background">
  <div class="organic-container container">
    <h2 class="organic-title" id="fruits">ORGANIC FRUITS</h2>
    <p class="organic-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="organic-list-card">
      <li class="card">
        <p class="name-card">Strawberry</p>
        <p class="name-text">Plant</p>
        <img
          class="img-card"
          srcset="
            ./img/organicfruits/strawberry@1x.png 1x,
            ./img/organicfruits/strawberry@2x.png 2x
          "
          src="./img/organicfruits/strawberry@1x.png "
          alt="Strawberry"
          width="295"
        />
        <a class="link-card" href="#order">100 UAH / kg</a>
      </li>
      <li class="card">
        <p class="name-card">Banana</p>
        <p class="name-text">Plant</p>
        <img
          class="img-card"
          srcset="
            ./img/organicfruits/banana@1x.png 1x,
            ./img/organicfruits/banana@2x.png 2x
          "
          src="./img/organicfruits/banana@1x.png"
          alt="Banana"
          width="295"
          loading="lazy"
        />
        <a class="link-card link-banana" href="#order">80 UAH / kg</a>
      </li>
      <li class="card">
        <p class="name-card">Watermelon</p>
        <p class="name-text">Plant</p>
        <img
          class="img-card"
          srcset="
            ./img/organicfruits/watermelon@1x.png 1x,
            ./img/organicfruits/watermelon@2x.png 2x
          "
          src="./img/organicfruits/watermelon@1x.png"
          alt="Watermelon"
          width="295"
          loading="lazy"
        />
        <a class="link-card link-watermelon" href="#order">40 UAH / kg</a>
      </li>
      <li class="card">
        <p class="name-card">Lime</p>
        <p class="name-text">Plant</p>
        <img
          class="img-card"
          srcset="
            ./img/organicfruits/lime@1x.png 1x,
            ./img/organicfruits/lime@2x.png 2x
          "
          src="./img/organicfruits/lime@1x.png"
          alt="Lime"
          width="295"
          loading="lazy"
        />
        <a class="link-card" href="#order">60 UAH / kg</a>
      </li>
      <li class="card">
        <p class="name-card">Apple</p>
        <p class="name-text">Plant</p>
        <img
          class="img-card"
          srcset="
            ./img/organicfruits/apple@1x.png 1x,
            ./img/organicfruits/apple@2x.png 2x
          "
          src="./img/organicfruits/apple@1x.png"
          alt="Apple"
          width="295"
          loading="lazy"
        />
        <a class="link-card" href="#order">50 UAH / kg</a>
      </li>
      <li class="card">
        <p class="name-card">Peach</p>
        <p class="name-text">Plant</p>
        <img
          class="img-card"
          srcset="
            ./img/organicfruits/peach@1x.png 1x,
            ./img/organicfruits/peach@2x.png 2x
          "
          src="./img/organicfruits/peach@1x.png"
          alt="Peach"
          width="295"
          loading="lazy"
        />
        <a class="link-card" href="#order">80 UAH / kg</a>
      </li>
      <li class="card">
        <p class="name-card">Plums</p>
        <p class="name-text">Plant</p>
        <img
          class="img-card"
          srcset="
            ./img/organicfruits/plums@1x.png 1x,
            ./img/organicfruits/plums@2x.png 2x
          "
          src="./img/organicfruits/plums@1x.png"
          alt="Plums"
          width="295"
          loading="lazy"
        />
        <a class="link-card" href="#order">40 UAH / kg</a>
      </li>
      <li class="card">
        <p class="name-card">Orange</p>
        <p class="name-text">Plant</p>
        <img
          class="img-card"
          srcset="
            ./img/organicfruits/orange@1x.png 1x,
            ./img/organicfruits/orange@2x.png 2x
          "
          src="./img/organicfruits/orange@1x.png"
          alt="Orange"
          width="295"
          loading="lazy"
        />
        <a class="link-card" href="#order">60 UAH / kg</a>
      </li>
      <li class="card">
        <p class="name-card">Kiwi</p>
        <p class="name-text">Plant</p>
        <img
          class="img-card"
          srcset="
            ./img/organicfruits/kiwi@1x.png 1x,
            ./img/organicfruits/kiwi@2x.png 2x
          "
          src="./img/organicfruits/kiwi@1x.png"
          alt="Kiwi"
          width="295"
          loading="lazy"
        />
        <a class="link-card" href="#order">90 UAH / kg</a>
      </li>
    </ul>

    <button class="button" id="order" data-modal-open="modal-1" type="button">
      <svg class="svg-card" width="14" height="14">
        <use class="svg-icon" href="./img/icons.svg#icon-vector"></use>
      </svg>
      ORDER
    </button>
  </div>
</section>
