:root {
  /*===== COLORS =====*/
  /* BLACK */
  --black: #000000;
  /* VIOLET */
  --violet: #ae1332;
  /* GREAN SEA */
  --light-grean: #a4cb66;
  /* SUN */
  --yellow: #f5ce13;
  /* WHITE */
  --white: #ffffff;
  /* BACKGROUND-HOVER-STATE-ICON-SOCIALES */
  --hover-svg: rgba(174, 19, 50, 0.1);
  /* TEXT-SHADOW */
  --shop-now: 0px 4px 70px rgba(0, 0, 0, 0.1);
  /* transition duration + timing-function */
  --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.container {
  min-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

/*=========  TABLET  =========*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/*=========  DESKTOP  =========*/
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* BACKGROUND COLOR SECTION */
.background{
    background-color: var(--violet);
}