/* footer general */

.footer {
  padding: 80px 0;
  background-color: #ffffff;
}

@media only screen and (min-width: 1280px) {
  .footer {
    padding: 0 0 35px 0;
    background-color: var(--violet);
  }
}

.footer-text {
  color: var(--violet);
}

/* image and title */

.footer-main-container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1280px) {
  .footer-main-container {
    background-color: #ffffff;
    padding: 80px 32px;
  }
}

@media only screen and (max-width: 767px) {
  .footer-main-container {
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-main-container {
    gap: 171px;
  }
}

.title-footer {
  font-size: 14px;
}

.footer-logo-nav-wrap {
  display: flex;
  gap: 24px;
}

@media only screen and (min-width: 319px) and (max-width: 1279px) {
  .footer-logo-nav-wrap {
    flex-direction: column;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1279px) {
  .footer-logo-nav-wrap {
    gap: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-logo-nav-wrap {
    margin-right: 232px;
    gap: 243px;
  }
}

.footer-logo-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 767px) {
  .footer-logo-container {
    width: 349px;
  }
}

.footer-logo-icon {
  margin-right: 8px;
}

.footer-title-container {
  display: flex;
  justify-content: center;
}

/* navigation */

@media only screen and (min-width: 1279px) {
  .footer-nav-section {
    display: flex;
    margin-top: 84px;
    margin-bottom: 77px;
    align-items: center;
    height: 18px;
  }
}

.footer-nav-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 208px;
  margin: auto;
}

/* Social icons */

.footer-social-list {
  display: flex;
  gap: 20px;
}

@media only screen and (max-width: 767px) {
  .footer-social-list {
    justify-content: center;
  }
}

.footer-social-item {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: solid 1px var(--violet);
  border-radius: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-item:hover,
.footer-social-item:focus {
  background: rgba(174, 19, 50, 0.1);
}

@media only screen and (min-width: 767px) {
  .footer-social-item {
    width: 44px;
    height: 44px;
  }
  .footer-social-item svg {
    width: 28px;
    height: 28px;
  }
}

.footer-social-icons {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* contacts */
.footer-address-section {
  display: flex;
  justify-content: center;
}

.footer-social-address-wrap {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
@media only screen and (max-width: 767px) {
  .footer-social-address-wrap {
    margin-top: 44px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1279px) {
  .footer-social-address-wrap {
    margin-top: 38px;
    width: 184px;
    height: 204px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-social-address-wrap {
    height: 200px;
    width: 184px;
  }
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media only screen and (min-width: 768px) {
  .footer-address-list {
    gap: 20px;
  }
}

.footer-number {
  text-align: center;
  letter-spacing: -0.02em;
}

.footer-address-text {
  text-align: center;
  letter-spacing: -0.02em;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media only screen and (min-width: 768px) {
  .footer-address-text {
    font-size: 18px;
    line-height: 24px;
  }
}

.footer-geo {
  width: 180px;
}

@media only screen and (max-width: 767px) {
  .footer-geo {
    width: 140px;
    display: flex;
  }
}
