.section-container {
  padding-bottom: 80px;
}

/* Tablet  */
@media only screen and (min-width: 768px) {
  .section-container {
    padding-bottom: 144px;
  }
}

/* Decktop  */
@media only screen and (min-width: 1280px) {
  .section-container {
    padding-bottom: 150px;
  }
}

.organic-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: var(--white);

  text-shadow: var(--shop-now);

  margin-bottom: 14px;
}

/* Tablet  */
@media only screen and (min-width: 768px) {
  .organic-title {
    font-size: 40px;
    line-height: 1.1;
  }
}

.organic-text {
  margin: 0 auto;

  text-align: center;
  letter-spacing: -0.04em;
  margin-bottom: 44px;

  color: var(--white);

  text-shadow: var(--shop-now);
}

@media only screen and (min-width: 768px) {
  .organic-text {
    max-width: 547px;
  }
}

.organic-list-card {
  display: flex;

  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 14px;
}

.organic-list-card .card:nth-last-child(9) {
  background-color: #f8766b;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.organic-list-card .card:nth-last-child(8) {
  background: #edd251;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.organic-list-card .card:nth-last-child(7) {
  background: #9dc262;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.organic-list-card .card:nth-last-child(6) {
  background: #bfd663;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.organic-list-card .card:nth-last-child(5) {
  background: #e93f29;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.organic-list-card .card:nth-last-child(4) {
  background: #db4f4b;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.organic-list-card .card:nth-last-child(3) {
  background: #9b5366;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.organic-list-card .card:nth-last-child(2) {
  background: #f47f4c;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.organic-list-card .card:nth-last-child(1) {
  background: #98b37e;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Animation of cards  */
.organic-list-card .card:nth-last-child(9):hover,
.organic-list-card .card:nth-last-child(9):focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 2px 2px white, 4px 4px #f8766b;
  top: -4px;
  left: -4px;
}
.organic-list-card .card:nth-last-child(8):hover,
.organic-list-card .card:nth-last-child(8):focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 2px 2px white, 4px 4px #edd251;
  top: -4px;
  left: -4px;
}
.organic-list-card .card:nth-last-child(7):hover,
.organic-list-card .card:nth-last-child(7):focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 2px 2px white, 4px 4px#9dc262;
  top: -4px;
  left: -4px;
}
.organic-list-card .card:nth-last-child(6):hover,
.organic-list-card .card:nth-last-child(6):focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 2px 2px white, 4px 4px#bfd663;
  top: -4px;
  left: -4px;
}
.organic-list-card .card:nth-last-child(5):hover,
.organic-list-card .card:nth-last-child(5):focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 2px 2px white, 4px 4px#e93f29;
  top: -4px;
  left: -4px;
}
.organic-list-card .card:nth-last-child(4):hover,
.organic-list-card .card:nth-last-child(4):focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 2px 2px white, 4px 4px#db4f4b;
  top: -4px;
  left: -4px;
}
.organic-list-card .card:nth-last-child(3):hover,
.organic-list-card .card:nth-last-child(3):focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 2px 2px white, 4px 4px#9b5366;
  top: -4px;
  left: -4px;
}
.organic-list-card .card:nth-last-child(2):hover,
.organic-list-card .card:nth-last-child(2):focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 2px 2px white, 4px 4px#f47f4c;
  top: -4px;
  left: -4px;
}
.organic-list-card .card:nth-last-child(1):hover,
.organic-list-card .card:nth-last-child(1):focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 2px 2px white, 4px 4px#98b37e;
  top: -4px;
  left: -4px;
}

/* Mobile  */
@media only screen and (max-width: 767px) {
  .organic-list-card .card:nth-last-child(1) {
    display: none;
  }
  .organic-list-card .card:nth-last-child(2) {
    display: none;
  }
  .organic-list-card .card:nth-last-child(3) {
    display: none;
  }
  .organic-list-card {
    flex-direction: column;
  }
}

/* Tablet  */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .organic-list-card .card:nth-last-child(1) {
    display: none;
  }
}

/* Decktop  */
@media only screen and (min-width: 1280px) {
  .organic-list-card {
    column-gap: 24px;
    row-gap: 24px;
  }
}

.card {
  cursor: pointer;
  padding: 64px 24px 24px 20px;

  border-radius: 20px;
}

/* Tablet  */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .card {
    width: calc((100% - 14px) / 2);
    padding: 64px 24px 24px 24px;
  }
}

/* Decktop  */
@media only screen and (min-width: 1280px) {
  .card {
    max-width: 389px;
    width: calc((100% - 24px) / 3);
    padding: 64px 47px 24px 24px;
  }
}

.name-card {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  color: var(--white);

  margin-bottom: 8px;
}

/* Tablet  */
@media only screen and (min-width: 768px) {
  .name-card {
    font-size: 32px;
    line-height: 1.2;
  }
}

.name-text {
  margin-bottom: 4px;
  letter-spacing: -0.02em;

  color: var(--white);
}

/* Tablet  */
@media only screen and (min-width: 768px) {
  .name-text {
    font-size: 18px;
    line-height: 1.3;
  }
}

.img-card {
  margin: 0 auto;
}

.img-card:hover,
.img-card:focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.link-card {
  font-weight: 500;

  position: relative;
  align-items: center;
  justify-content: space-around;

  color: var(--violet);

  padding: 12px 24px;
  bottom: 20px;
  background-color: var(--white);
  border-radius: 200px;
}

/* Tablet  */
@media only screen and (min-width: 768px) {
  .link-card {
    font-size: 18px;
    line-height: 1.3;

    padding: 15px 42px;
  }
  .link-bananad {
    bottom: 14px;
  }
  .link-watermelon {
    bottom: 7px;
  }
}
@media only screen and (min-width: 1280px) {
  .link-watermelon {
    bottom: 5px;
  }
  .link-bananad {
    bottom: 14px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  text-transform: uppercase;

  color: var(--white);

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);

  margin: 0 auto;
  margin-top: 44px;

  width: 80px;
  height: 80px;
  left: 0px;
  top: 0px;

  border: none;
  border-radius: 80px;
  transition-property: background-color, color, fill;
  transition: var(--cubic);
  background-color: #9dc262;
  fill: #fff;
}
.button:hover,
.button:focus {
  transition-property: background-color, color, fill;
  transition: var(--cubic);
  background-color: var(--white);
  color: #9dc262;
  fill: #9dc262;
}

/* Tablet  */
@media only screen and (min-width: 768px) {
  .button {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;

    width: 114px;
    height: 114px;
  }
}

.svg-card {
  margin-right: 4px;
}

.svg-icon {
  font-size: 18px;
  line-height: 1.33;
}
