.to-order-section {
    padding-bottom: 80px;
}


.to-order-title {
    font-weight: 500;
        font-size: 28px;
        line-height: 1;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;

        margin-bottom: 14px;
    
        color: var(--white);
        text-shadow: var(--shop-now);
}

.to-order-text {
    display: flex;
        align-items: center;
        text-align: center;

        margin-bottom: 44px;

        color: var(--white);
            text-shadow: var(--shop-now);
}

.to-order-list {
    margin-bottom: 44px;
}

.to-order-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 112px;

    margin-bottom: 20px;
    padding: 20px;

    background: var(--white);
    border-radius: 20px;
}
.to-order-list-item:last-child{
    margin-bottom: 0;
}

.to-order-list-step {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;

    min-width: 136px;
    height: 48px;

    background: var(--violet);
    border-radius: 200px;
    color: var(--white);

    font-size: 18px;
        line-height: 1.33;
}
.step-2{
background: var(--light-grean);
}
.step-3{
background: var(--yellow);
}

.to-order-gif{
    margin: 0 auto;
    height: 476px;

    border-radius: 20px;
}
@media screen and (max-width: 374px){
.to-order-container{
    max-width: 320px;
    padding: 0;
}
}
@media screen and (min-width: 768px) and (max-width: 1279px){
    .to-order-section{
        padding-bottom: 144px;
    }
    .to-order-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        max-width: 704px;
    }
.to-order-list{
    max-width: 389px;

    margin-bottom: 80px;
}
.to-order-list-item{
    height: 128px;

    margin-bottom: 24px;
    padding: 40px 20px;
}
.to-order-gif{
width: 704px;
height: 476px;
}
}
@media screen and (min-width: 768px){
    .to-order-title{
        font-size: 40px;
        line-height: 44px;

        max-width: 624px;
}  
    .to-order-text{
        max-width: 509px;
}
}
@media screen and (min-width: 1280px){
    .to-order-section {
            padding-bottom: 150px;
        }
    .to-order-container{
        max-width: 1147px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .to-order-title {
            font-size: 40px;
            line-height: 44px;
    
            max-width: 624px;
        }
        .to-order-list {
            display: flex;
            flex-direction: row;
            gap: 24px;
    
            margin-bottom: 80px;
        }
        .to-order-list-item {
            width: 389px;
            height: 128px;

            padding: 40px 20px;
        }
        .to-order-gif {
            width: 860px;
            height: 476px;
        }
}